<div class="main  ">
	<div class="container  mb-5 my-2">
		<h2 class="page-header text-center">Delete Blog</h2>
		<div class=" show-hide-message text-center" *ngIf="message">
	<div [ngClass]="messageClass">
		{{ message }}
	</div>
</div>
	</div>

	<div class="container  ">



<div class="col-md-6 "  *ngIf="foundBlog" >
	<div class="model-content" style="border:  2px solid red">
		<div class="model-header">
			<button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Confirm</h4>
		</div>
		<div class="modal-body">
			<p>Are you sure you would like to delete this blog ?</p>
		</div>
		<div class="modal-footer">
			<button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="deleteBlog()">Yes</button>
			<a routerLink="/blog"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">No</button></a>

		</div>
	</div>
<br/>

<div class="card" >
	<div class="card-header">
		<h5 class="card-title"> {{ blog.title }}</h5>
	</div>
	<div class="card-body"> 
      {{ blog.body }}
	</div>
	<div class="card-footer"> 
      <strong>PostedBy: </strong> {{ blog.createdBy }}
      <strong>Date: </strong> {{ blog.createdAt | date: 'MMM dd, yyy' }}
	</div>
</div>

</div>

</div>

</div>
