<div class="main">
	<div class="container text-center my-5">
		<h2 class="page-header">Public Profile</h2>
		 <div class=" show-hide-message text-center" *ngIf="message">
	<div [ngClass]="messageClass">
		{{ message }}
	</div>
</div>
	</div>
	<br />
	<div class="container">
		<ul *ngIf="foundProfile" class="list-group">
		<li class="list-group-item"> <strong>UserName: </strong> {{ username }} </li>
		<li class="list-group-item">  <strong>E-Mail: </strong> {{ email }} </li>
			
		</ul>
	</div>
</div>
